/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

:root {
    --multiplier: 1;
    --scrollbar-width: 19px;
    --max-width: 1160px;
    --z-index-base: 0;

    /* <- primary font vars */
    --font-family-primary: 'Arial', sans-serif;

    --font-weight-bold: 600;
    --font-weight-semibold: 500;
    --font-weight-normal: 400;
    --font-weight-light: 300;

    --font-size-primary: 1.125rem;

    --line-height-primary: 1.75rem;
    /* primary font vars -> */

    /* <- primary color vars */
    --color-dark-primary: #000;
    --color-light-primary: #fff;

    --color-incorrect: #ff8282;
    --color-correct: #a0d49b;

    --color-normal: #0073ff;
    --color-active: #015fd1;
    --color-hover: #348dfa;
    --color-disabled: #bebebe;

    /* primary color vars -> */

    /* <- primary spacing vars */
    --spacing-lvl_0: 0;
    --spacing-lvl_1: calc(3rem * var(--multiplier));
    --spacing_lvl_2: calc(2.5rem * var(--multiplier));
    --spacing_lvl_3: calc(1.5rem * var(--multiplier));
    /* primary spacing vars -> */

    /* Elements settings */

    /* <- test settings */
    /* grid */
    --test-grid-template-columns: 1fr;
    --test-grid-template-rows: auto;
    --test-grid-template-areas: 'instruction' 'commonQuestion'
        'questionsContainer' 'feedbackContainer' 'buttonsContainer';
    --test-row-gap: var(--spacing-lvl_1);
    --test-column-gap: 0;
    --test-justify-items: stretch;
    --test-align-items: start;
    --test-justify-content: start;
    --test-align-content: start;

    /* font */
    --test-color: var(--color-dark-primary);
    --test-font-family: var(--font-family-primary);
    --test-font-size: var(--font-size-primary);
    --test-font-weight: var(--font-weight-normal);
    --test-font-style: normal;

    /* background */
    --test-background: transparent;

    /* padding/margin */
    --test-padding: 0 0 0 0;
    --test-margin: 0 auto;

    /* border */
    --test-border-style: solid;
    --test-border-width: 0;
    --test-border-color: transparent;
    --test-border-radius: 0;

    /* width */
    --test-max-width: var(--max-width);
    --test-best-width: clamp(18.75rem, 50rem, 100%);

    /* test settings ->*/

    /* <- test instruction settings */
    --test-instruction-grid-template-columns: 1fr;
    --test-instruction-grid-template-rows: auto;
    --test-instruction-row-gap: var(--spacing_lvl_3);
    --test-instruction-column-gap: 0;
    --test-instruction-justify-items: start;
    --test-instruction-align-items: start;
    --test-instruction-justify-content: start;
    --test-instruction-align-content: start;

    /* font */
    --test-instruction-color: var(--color-dark-primary);
    --test-instruction-font-family: var(--font-family-primary);
    --test-instruction-font-size: var(--font-size-primary);
    --test-instruction-font-weight: var(--font-weight-normal);
    --test-instruction-font-style: normal;

    /* background */
    --test-instruction-background: transparent;

    /* padding */
    --test-instruction-padding: 0;

    /* border */
    --test-instruction-border-style: solid;
    --test-instruction-border-width: 0;
    --test-instruction-border-color: transparent;
    --test-instruction-border-radius: 0;
    /* test instruction settings ->*/

    /* <- test commonQuestion settings */
    --commonQuestion-grid-template-columns: 1fr;
    --commonQuestion-grid-template-rows: auto;
    --commonQuestion-row-gap: var(--spacing_lvl_3);
    --commonQuestion-column-gap: 0;
    --commonQuestion-justify-items: start;
    --commonQuestion-align-items: start;
    --commonQuestion-justify-content: start;
    --commonQuestion-align-content: start;

    /* font */
    --commonQuestion-color: var(--color-dark-primary);
    --commonQuestion-font-family: var(--font-family-primary);
    --commonQuestion-font-size: var(--font-size-primary);
    --commonQuestion-font-weight: var(--font-weight-bold);
    --commonQuestion-font-style: normal;

    /* background */
    --commonQuestion-background: transparent;

    /* padding */
    --commonQuestion-padding: 0;

    /* border */
    --commonQuestion-border-style: solid;
    --commonQuestion-border-width: 0;
    --commonQuestion-border-color: transparent;
    --commonQuestion-border-radius: 0;
    /* test commonQuestion settings ->*/

    /* <- test questionsContainer settings */
    --questionsContainer-grid-template-columns: 1fr;
    --questionsContainer-grid-template-rows: auto;
    --questionsContainer-row-gap: var(--spacing-lvl_1);
    --questionsContainer-column-gap: 0;
    --questionsContainer-justify-items: stretch;
    --questionsContainer-align-items: start;
    --questionsContainer-justify-content: start;
    --questionsContainer-align-content: start;

    /* font */
    --questionsContainer-color: var(--color-dark-primary);
    --questionsContainer-font-family: var(--font-family-primary);
    --questionsContainer-font-size: var(--font-size-primary);
    --questionsContainer-font-weight: var(--font-weight-normal);
    --questionsContainer-font-style: normal;

    /* background */
    --questionsContainer-background: transparent;

    /* padding */
    --questionsContainer-padding: 0;

    /* border */
    --questionsContainer-border-style: solid;
    --questionsContainer-border-width: 0;
    --questionsContainer-border-color: transparent;
    --questionsContainer-border-radius: 0;
    /* test questionsContainer settings ->*/

    /* <- test feedbackContainer settings */
    --feedbackContainer-grid-template-columns: 1fr;
    --feedbackContainer-grid-template-rows: auto;
    --feedbackContainer-row-gap: var(--spacing_lvl_3);
    --feedbackContainer-column-gap: 0;
    --feedbackContainer-justify-items: stretch;
    --feedbackContainer-align-items: start;
    --feedbackContainer-justify-content: start;
    --feedbackContainer-align-content: start;

    /* font */
    --feedbackContainer-color: var(--color-dark-primary);
    --feedbackContainer-font-family: var(--font-family-primary);
    --feedbackContainer-font-size: var(--font-size-primary);
    --feedbackContainer-font-weight: var(--font-weight-normal);
    --feedbackContainer-font-style: normal;

    /* background */
    --feedbackContainer-background: transparent;

    /* padding */
    --feedbackContainer-padding: var(--spacing_lvl_0);

    /* border */
    --feedbackContainer-border-style: solid;
    --feedbackContainer-border-width: 0;
    --feedbackContainer-border-color: transparent;
    --feedbackContainer-border-radius: 0;
    /* test feedbackContainer settings ->*/

    /* <- test buttonsContainer settings */
    --test-buttonsContainer-grid-template-columns: 1fr;
    --test-buttonsContainer-grid-template-rows: auto;
    --test-buttonsContainer-row-gap: var(--spacing_lvl_2);
    --test-buttonsContainer-column-gap: var(--spacing_lvl_2);
    --test-buttonsContainer-justify-items: start;
    --test-buttonsContainer-align-items: start;
    --test-buttonsContainer-justify-content: start;
    --test-buttonsContainer-align-content: start;
    --test-buttonsContainer-width: 100%;

    /* font */
    --test-buttonsContainer-color: var(--color-dark-primary);
    --test-buttonsContainer-font-family: var(--font-family-primary);
    --test-buttonsContainer-font-size: var(--font-size-primary);
    --test-buttonsContainer-font-weight: var(--font-weight-normal);
    --test-buttonsContainer-font-style: normal;

    /* background */
    --test-buttonsContainer-background: transparent;

    /* padding */
    --test-buttonsContainer-padding: 0;

    /* border */
    --test-buttonsContainer-border-style: solid;
    --test-buttonsContainer-border-width: 0;
    --test-buttonsContainer-border-color: transparent;
    --test-buttonsContainer-border-radius: 0;
    /* test buttonsContainer settings ->*/

    /* <- questionContainer settings */
    --questionContainer-grid-template-columns: 1fr;
    --questionContainer-grid-template-rows: auto;
    --questionContainer-grid-template-areas: 'subHeader' 'question'
        'answersContainer' 'questionFeedback' 'tipsContainer' 'buttonsContainer';
    --questionContainer-row-gap: var(--spacing_lvl_2);
    --questionContainer-column-gap: 0;
    --questionContainer-justify-items: stretch;
    --questionContainer-align-items: start;
    --questionContainer-justify-content: start;
    --questionContainer-align-content: start;

    /* font */
    --questionContainer-color: var(--color-dark-primary);
    --questionContainer-font-family: var(--font-family-primary);
    --questionContainer-font-size: var(--font-size-primary);
    --questionContainer-font-weight: var(--font-weight-normal);
    --questionContainer-font-style: normal;

    /* background */
    --questionContainer-background: transparent;

    /* padding */
    --questionContainer-padding: 0;

    /* border */
    --questionContainer-border-style: solid;
    --questionContainer-border-width: 0;
    --questionContainer-border-color: transparent;
    --questionContainer-border-radius: 0;

    /* for 'columns' subtype */
    --questionContainerColumns-color-shift: 20%;
    --questionContainerColumns-color-odd-h: 200;
    --questionContainerColumns-color-odd-s: 90%;
    --questionContainerColumns-color-odd-l: 60%;
    --questionContainerColumns-color-odd-a: 1;
    --questionContainerColumns-color-even-h: 275;
    --questionContainerColumns-color-even-s: 85%;
    --questionContainerColumns-color-even-l: 75%;
    --questionContainerColumns-color-even-a: 1;

    /* questionContainer settings ->*/

    /* <- questionContainer subHeader settings */
    --subHeader-grid-template-columns: repeat(2, max-content);
    --subHeader-grid-template-rows: auto;
    --subHeader-grid-template-areas: 'counter correctnessMarker';
    --subHeader-subHeader-row-gap: 0;
    --subHeader-column-gap: var(--spacing_lvl_3);
    --subHeader-row-gap: 0;
    --subHeader-justify-items: start;
    --subHeader-align-items: start;
    --subHeader-justify-content: start;
    --subHeader-align-content: start;

    /* font */
    --subHeader-color: #000;
    --subHeader-font-family: var(--font-family-primary);
    --subHeader-font-size: var(--font-size-primary);
    --subHeader-font-weight: var(--font-weight-normal);
    --subHeader-font-style: normal;

    /* background */
    --subHeader-background: transparent;

    /* padding */
    --subHeader-padding: 0;

    /* border */
    --subHeader-border-style: solid;
    --subHeader-border-width: 0;
    --subHeader-border-color: transparent;
    --subHeader-border-radius: 0;

    /*transform*/
    --subHeader-transform: translateY(0);

    /* <- subHeader counter*/
    --counter-color: inherit;
    --counter-font-family: var(--font-family-primary);
    --counter-font-size: var(--font-size-primary);
    --counter-font-weight: var(--font-weight-normal);
    --counter-font-style: normal;
    --counter-line-height: var(--line-height-primary);
    --counter-letter-spacing: revert;

    --counter-writing-mode: revert;
    --counter-text-orientation: revert;
    --counter-background: transparent;

    --counter-padding: 0;
    --counter-border-style: revert;
    --counter-border-width: 0;
    --counter-border-color: revert;
    --counter-border-radius: revert;
    /* subHeader counter ->*/

    /* questionContainer subHeader settings ->*/

    /* <- questionContainer question settings */
    --question-grid-template-columns: 1fr;
    --question-grid-template-rows: auto;
    --question-row-gap: var(--spacing_lvl_3);
    --question-column-gap: var(--spacing_lvl_3);
    --question-justify-items: stretch;
    --question-align-items: start;
    --question-justify-content: start;
    --question-align-content: start;

    /* font */
    --question-color: var(--color-dark-primary);
    --question-font-family: var(--font-family-primary);
    --question-font-size: var(--font-size-primary);
    --question-font-weight: var(--font-weight-normal);
    --question-font-style: normal;

    /* background */
    --question-background: transparent;

    /* padding */
    --question-padding: 0;

    /* border */
    --question-border-style: solid;
    --question-border-width: 0;
    --question-border-color: transparent;
    --question-border-radius: 0;
    /* questionContainer question settings ->*/

    /* <- questionContainer question story settings */
    --story-grid-template-columns: 1fr;
    --story-grid-template-rows: auto;
    --story-row-gap: var(--spacing_lvl_3);
    --story-column-gap: 0;
    --story-justify-items: start;
    --story-align-items: start;
    --story-justify-content: start;
    --story-align-content: start;

    /* font */
    --story-color: var(--color-dark-primary);
    --story-font-family: var(--font-family-primary);
    --story-font-size: var(--font-size-primary);
    --story-font-weight: var(--font-weight-normal);
    --story-font-style: normal;

    /* background */
    --story-background: transparent;

    /* padding */
    --story-padding: 0;

    /* border */
    --story-border-style: solid;
    --story-border-width: 0;
    --story-border-color: transparent;
    --story-border-radius: 0;
    /* questionContainer question story settings ->*/

    /* <- questionContainer question questionText settings */
    --questionText-grid-template-columns: 1fr;
    --questionText-grid-template-rows: auto;
    --questionText-row-gap: var(--spacing_lvl_3);
    --questionText-column-gap: 0;
    --questionText-justify-items: start;
    --questionText-align-items: start;
    --questionText-justify-content: start;
    --questionText-align-content: start;

    /* font */
    --questionText-color: var(--color-dark-primary);
    --questionText-font-family: var(--font-family-primary);
    --questionText-font-size: var(--font-size-primary);
    --questionText-font-weight: var(--font-weight-bold);
    --questionText-font-style: normal;

    /* background */
    --questionText-background: transparent;

    /* padding */
    --questionText-padding: 0;

    /* border */
    --questionText-border-style: solid;
    --questionText-border-width: 0;
    --questionText-border-color: transparent;
    --questionText-border-radius: 0;
    /* questionContainer question grid questionText settings ->*/

    /* <- questionContainer question instruction settings */
    /* font */
    --question-instruction-color: var(--color-dark-primary);
    --question-instruction-font-family: var(--font-family-primary);
    --question-instruction-font-size: var(--font-size-primary);
    --question-instruction-font-weight: var(--font-weight-normal);
    --question-instruction-font-style: italic;

    /* background */
    --question-instruction-background: transparent;

    /* padding */
    --question-instruction-padding: 0;

    /* border */
    --question-instruction-border-style: solid;
    --question-instruction-border-width: 0;
    --question-instruction-border-color: transparent;
    --question-instruction-border-radius: 0;
    /* questionContainer question instruction settings ->*/

    /* <- questionContainer answersContainer settings */
    --answersContainer-grid-template-columns: 1fr; /* repeat(auto-fill, minmax(350px, 1fr)); */
    --answersContainerImage-grid-template-columns: repeat(
        auto-fill,
        var(--image-width)
    );

    --answersContainer-grid-template-rows: auto;
    --answersContainer-row-gap: var(--spacing_lvl_3);
    --answersContainer-column-gap: var(--spacing_lvl_3);
    --answersContainer-justify-items: stretch;
    --answersContainer-align-items: start;
    --answersContainer-justify-content: start;
    --answersContainer-align-content: start;

    /* font */
    --answersContainer-color: var(--color-dark-primary);
    --answersContainer-font-family: var(--font-family-primary);
    --answersContainer-font-size: var(--font-size-primary);
    --answersContainer-font-weight: var(--font-weight-normal);
    --answersContainer-font-style: normal;

    /* background */
    --answersContainer-background: transparent;

    /* padding */
    --answersContainer-padding: 0;

    /* border */
    --answersContainer-border-style: solid;
    --answersContainer-border-width: 0;
    --answersContainer-border-color: transparent;
    --answersContainer-border-radius: 0;
    /* questionContainer answersContainer settings ->*/

    /* <- questionContainer answersContainer answerContainer settings */
    --answerContainer-grid-template-columns: 1fr;
    --answerContainerImage-grid-template-columns: 1fr;
    --answerContainer-grid-template-rows: auto;
    --answerContainer-row-gap: var(--spacing_lvl_2);
    --answerContainer-column-gap: var(--spacing_lvl_2);
    --answerContainer-justify-items: stretch;
    --answerContainer-align-items: start;
    --answerContainer-justify-content: start;
    --answerContainer-align-content: start;

    /* font */
    --answerContainer-color: var(--color-dark-primary);
    --answerContainer-font-family: var(--font-family-primary);
    --answerContainer-font-size: var(--font-size-primary);
    --answerContainer-font-weight: var(--font-weight-normal);
    --answerContainer-font-style: normal;

    /* background */
    --answerContainer-background: transparent;

    /* padding */
    --answerContainer-padding: 0;
    --answerContainerImage-padding: 2rem 0 1rem 0;

    /* border */
    --answerContainer-border-style: solid;
    --answerContainer-border-width: 0;
    --answerContainer-border-color: transparent;
    --answerContainer-border-radius: 0;
    /* questionContainer answersContainer answerContainer settings ->*/

    /* <- questionContainer answersContainer answerContainer label settings */
    --answerContainer-label-grid-template-columns: var(--inputbox-dimension)
        auto;
    --answerContainer-labelImage-grid-template-columns: 1fr 8fr 1fr;
    --answerContainer-label-grid-template-rows: auto;
    --answerContainer-labelImage-grid-template-rows: repeat(4, 1fr);
    --answerContainer-label-grid-template-areas: 'inputMarker text';
    --answerContainer-labelImage-grid-template-areas: '. img .' '. img .'
        '. img .' 'text text text';
    --answerContainer-label-row-gap: calc(1rem * var(--multiplier));
    --answerContainer-label-column-gap: calc(1rem * var(--multiplier));
    --answerContainer-labelImage-row-gap: 0;
    --answerContainer-labelImage-column-gap: 0;
    --answerContainer-label-justify-items: start;
    --answerContainer-label-align-items: center;
    --answerContainer-label-justify-content: start;
    --answerContainer-label-align-content: center;

    /* font */
    --answerContainer-label-color: var(--color-dark-primary);
    --answerContainer-label-font-family: var(--font-family-primary);
    --answerContainer-label-font-size: var(--font-size-primary);
    --answerContainer-label-font-weight: var(--font-weight-normal);
    --answerContainer-label-font-style: normal;

    /* background */
    --answerContainer-label-background: transparent;
    --answerContainer-labelImage-background: transparent;

    /* padding */
    --answerContainer-label-padding: 0;
    --answerContainer-labelImage-padding: 1rem;

    /* border */
    --answerContainer-label-border-style: solid;
    --answerContainer-label-border-width: 0;
    --answerContainer-label-border-color: transparent;
    --answerContainer-label-border-radius: 0;
    --answerContainer-labelImage-border-radius: 999px;
    /* questionContainer answersContainer answerContainer label settings ->*/

    /* <- questionContainer answersContainer answerContainer answerFeedback settings */
    --answerFeedback-grid-template-columns: 1fr;
    --answerFeedback-grid-template-rows: auto;
    --answerFeedback-row-gap: var(--spacing_lvl_0);
    --answerFeedback-column-gap: 0;
    --answerFeedback-justify-items: stretch;
    --answerFeedback-align-items: start;
    --answerFeedback-justify-content: start;
    --answerFeedback-align-content: start;

    /* font */
    --answerFeedback-color: var(--color-dark-primary);
    --answerFeedback-font-family: var(--font-family-primary);
    --answerFeedback-font-size: var(--font-size-primary);
    --answerFeedback-font-weight: var(--font-weight-normal);
    --answerFeedback-font-style: italic;

    /* background */
    --answerFeedback-background: transparent;

    /* padding */
    --answerFeedback-padding: 1rem 0 0
        calc(
            var(--answerContainer-label-column-gap) + var(--inputbox-dimension)
        );

    /* border */
    --answerFeedback-border-style: solid;
    --answerFeedback-border-width: 0;
    --answerFeedback-border-color: transparent;
    --answerFeedback-border-radius: 0;
    /* questionContainer answersContainer answerContainer answerFeedback settings ->*/

    /* <- questionContainer tipsContainer settings */
    --tipsContainer-grid-template-columns: 1fr;
    --tipsContainer-grid-template-rows: auto;
    --tipsContainer-row-gap: var(--spacing_lvl_3);
    --tipsContainer-column-gap: var(--spacing_lvl_3);
    --tipsContainer-justify-items: start;
    --tipsContainer-align-items: start;
    --tipsContainer-justify-content: start;
    --tipsContainer-align-content: start;

    /* font */
    --tipsContainer-color: var(--color-dark-primary);
    --tipsContainer-font-family: var(--font-family-primary);
    --tipsContainer-font-size: var(--font-size-primary);
    --tipsContainer-font-weight: var(--font-weight-normal);
    --tipsContainer-font-style: normal;

    /* background */
    --tipsContainer-background: transparent;

    /* padding */
    --tipsContainer-padding: 0;

    /* border */
    --tipsContainer-border-style: solid;
    --tipsContainer-border-width: 0;
    --tipsContainer-border-color: transparent;
    --tipsContainer-border-radius: 0;
    /* questionContainer tipsContainer settings ->*/

    /* <- questionContainer tipsContainer tipText settings */
    --tipText-grid-template-columns: 1fr;
    --tipText-grid-template-rows: auto;
    --tipText-row-gap: var(--spacing_lvl_3);
    --tipText-column-gap: var(--spacing_lvl_3);
    --tipText-justify-items: start;
    --tipText-align-items: start;
    --tipText-justify-content: start;
    --tipText-align-content: start;

    /* font */
    --tipText-color: var(--color-dark-primary);
    --tipText-font-family: var(--font-family-primary);
    --tipText-font-size: var(--font-size-primary);
    --tipText-font-weight: var(--font-weight-normal);
    --tipText-font-style: normal;

    /* background */
    --tipText-background: transparent;

    /* padding */
    --tipText-padding: 0;

    /* border */
    --tipText-border-style: solid;
    --tipText-border-width: 0;
    --tipText-border-color: transparent;
    --tipText-border-radius: 0;
    /* questionContainer tipsContainer tipText settings ->*/

    /* <- questionContainer questionFeedback settings */
    --questionFeedback-grid-template-columns: 1fr;
    --questionFeedback-grid-template-rows: auto;
    --questionFeedback-row-gap: var(--spacing_lvl_3);
    --questionFeedback-column-gap: 0;
    --questionFeedback-justify-items: stretch;
    --questionFeedback-align-items: start;
    --questionFeedback-justify-content: start;
    --questionFeedback-align-content: start;

    /* font */
    --questionFeedback-color: var(--color-dark-primary);
    --questionFeedback-font-family: var(--font-family-primary);
    --questionFeedback-font-size: var(--font-size-primary);
    --questionFeedback-font-weight: var(--font-weight-normal);
    --questionFeedback-font-style: normal;

    /* background */
    --questionFeedback-background: transparent;
    --questionFeedback-bg-color-correct: transparent;
    --questionFeedback-bg-color-incorrect: transparent;

    /* padding */
    --questionFeedback-padding: var(--spacing_lvl_0);

    /* border */
    --questionFeedback-border-style: solid;
    --questionFeedback-border-width: 0;
    --questionFeedback-border-color: transparent;
    --questionFeedback-border-radius: 0;
    /* questionContainer questionFeedback settings ->*/

    /* <- questionContainer buttonsContainer settings */
    --questionContainer-buttonsContainer-grid-template-columns: 1fr;
    --questionContainer-buttonsContainer-grid-template-rows: auto;
    --questionContainer-buttonsContainer-row-gap: var(--spacing_lvl_2);
    --questionContainer-buttonsContainer-column-gap: var(--spacing_lvl_2);
    --questionContainer-buttonsContainer-justify-items: start;
    --questionContainer-buttonsContainer-align-items: start;
    --questionContainer-buttonsContainer-justify-content: start;
    --questionContainer-buttonsContainer-align-content: start;

    /* font */
    --questionContainer-buttonsContainer-color: var(--color-dark-primary);
    --questionContainer-buttonsContainer-font-family: var(
        --font-family-primary
    );
    --questionContainer-buttonsContainer-font-size: var(--font-size-primary);
    --questionContainer-buttonsContainer-font-weight: var(--font-weight-normal);
    --questionContainer-buttonsContainer-font-style: normal;

    /* background */
    --questionContainer-buttonsContainer-background: transparent;

    /* padding */
    --questionContainer-buttonsContainer-padding: 0;

    /* border */
    --questionContainer-buttonsContainer-border-style: solid;
    --questionContainer-buttonsContainer-border-width: 0;
    --questionContainer-buttonsContainer-border-color: transparent;
    --questionContainer-buttonsContainer-border-radius: 0;
    /* questionContainer buttonsContainer settings ->*/

    /* <- fill-in */
    --fillin-font-size: var(--font-size-primary);
    --fillin-font-family: var(--font-family-primary);
    --fillin-min-width: 100%;
    --fillin-border-radius: 3px;
    --fillin-border-style: solid;
    --fillin-border-width-normal: 1px;
    --fillin-border-width-focus: 2px;
    --fillin-border-color-normal: #000;
    --fillin-border-color-focus: #000;
    --fillin-box-shadow: none;
    --fillin-bg-color: transparent;
    --fillin-padding: 16px;
    --fillin-padding-focus: calc(var(--fillin-padding) - 1px);
    --fillin-text-align: left;
    --fillin-line-height: var(--line-height-primary);
    /* fill-in ->*/

    /* <- button settings */
    --button-font-family: var(--font-family-primary);
    --button-font-size: var(--font-size-primary);
    --button-font-weight: var(--font-weight-bold);
    --button-font-style: normal;
    --button-letter-spacing: 1.1;
    --button-color-normal: #fff;
    --button-color-active: #fff;
    --button-color-hover: #fff;
    --button-color-disabled: #fff;
    --button-bg-color-normal: var(--color-normal);
    --button-bg-color-hover: var(--color-hover);
    --button-bg-color-active: var(--color-active);
    --button-bg-color-disabled: var(--color-disabled);
    --button-border-style: solid;
    --button-border-width-normal: 0;
    --button-border-color-normal: var(--color-normal);
    --button-border-width-active: 0;
    --button-border-color-active: var(--color-active);
    --button-border-width-hover: 0;
    --button-border-color-hover: var(--color-hover);
    --button-border-width-disabled: 0;
    --button-border-color-disabled: var(--color-disabled);
    --button-border-radius: 5px;
    --button-width: minmax(160px, max-content);
    --button-padding-top: 1.1rem;
    --button-padding-right: 2rem;
    --button-padding-bottom: 1.1rem;
    --button-padding-left: 2rem;
    --button-padding: var(--button-padding-top) var(--button-padding-right)
        var(--button-padding-bottom) var(--button-padding-left);
    --button-text-align: center;
    --button-text-shadow-normal: none;
    --button-box-shadow-normal: none;
    --button-text-shadow-hover: none;
    --button-box-shadow-hover: none;
    --button-text-shadow-active: none;
    --button-box-shadow-active: none;
    --button-text-shadow-disabled: none;
    --button-box-shadow-disabled: none;
    /* button settings -> */

    /* <- mc/mr input settings */
    --inputbox-border-color: var(--color-dark-primary);
    --inputbox-border-width: 1px;
    --inputbox-bg-color: var(--color-light-primary);
    --inputbox-marker-color: var(--color-dark-primary);
    --inputbox-dimension: calc(30px * var(--multiplier));
    --inputbox-dimension-alternative: calc(30px * var(--multiplier));
    /* mc */
    --inputbox-border-radius-mc: 50%;
    /* mr */
    --inputbox-border-radius-mr: 1px;

    /* mc/mr input settings -> */

    /* <- sidebar*/
    --sidebar-grid-template-columns: 1fr 92px;
    --sidebar-column-gap: 3rem;
    --sidebar-row-gap: 0;
    --sidebar-justify-content: space-between;
    --sidebar-justify-items: center;
    --sidebar-align-items: center;
    --sidebar-width: 100%;
    --sidebar-padding: 3rem 2rem;
    --sidebar-background: #d6eef2;
    --sidebar-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    --sidebar-transform: translateY(-100%);
    --sidebar-transition: transform 500ms linear;

    --sidebar-opened-transform: translateY(0);

    --sidebar-contentContainer-grid-template-columns: repeat(auto-fit, 150px);
    --sidebar-contentContainer-grid-template-rows: auto;
    --sidebar-contentContainer-justify-items: center;
    --sidebar-contentContainer-justify-content: center;
    --sidebar-contentContainer-column-gap: 6rem;
    --sidebar-contentContainer-row-gap: 3rem;
    --sidebar-contentContainer-width: 100%;

    --sidebar-openerContainer-align-self: center;
    /*sidebar ->*/

    /* <- pool*/
    --pool-width: 150px;
    --pool-height: 150px;
    --pool-grid-template-columns: repeat(7, 1fr);
    --pool-grid-template-rows: repeat(7, 1fr);

    --pool-char-width: 100%;
    --pool-char-grid-column: 2 / 7;
    --pool-char-grid-row: 1 / 6;

    --pool-status-width: 100%;
    --pool-status-grid-column: 6 / 8;
    --pool-status-grid-row: 1 / 3;

    --pool-progress-grid-column: 1 / 8;
    --pool-progress-grid-row: 5 / 7;
    --pool-progress-grid-template-columns: 1fr;
    --pool-progress-grid-template-rows: 1fr;
    --pool-progress-background: rgb(196, 196, 192);
    --pool-progress-border-radius: 999px;
    --pool-progress-height: 70%;
    --pool-progress-align-self: center;

    --pool-progress-divs-grid-column: 1 / 2;
    --pool-progress-divs-grid-row: 1 / 2;
    --pool-progress-divs-border-radius: 999px;

    --pool-progress-bar-width: 100%;
    --pool-progress-bar-height: 100%;
    --pool-progress-bar-background: linear-gradient(to right, #00cff2, #00d929);

    --pool-progress-value-grid-template-columns: 1fr;
    --pool-progress-value-font-size: 14px;
    --pool-progress-value-text-align: center;
    --pool-progress-value-font-weight: bold;
    --pool-progress-value-align-items: center;
    --pool-progress-value-justify-items: center;

    --pool-name-grid-column: 1 / 8;
    --pool-name-grid-row: 7 / 8;
    --pool-name-grid-template-columns: 1fr;
    --pool-name-align-items: center;
    --pool-name-justify-items: center;
    --pool-name-white-space: nowrap;
    --pool-name-font-size: 14px;
    /* pool ->*/

    /*mc/mr questions with images as answers*/
    --image-width: 180px;

    /* <- Longread */
    --longread-justify-items: start;
    --longread-align-items: center;
    --longread-justify-content: start;
    --longread-align-content: center;
    --longread-min-height: 50px;
    --longread-bg-color: transparent;
    --longread-grid-template-rows: auto;
    /* Longread -> */

    /* <- Popup */


    --popup-shade-background: rgba(0,0,0,0.5);
    --popup-shade-backdrop-filter: blur(1px);

    --popup-modal-background: #fff;
    --popup-modal-padding: 3rem;
    --popup-modal-min-width: 290px;
    --popup-modal-max-width: var(--test-best-width);
    --popup-modal-row-gap: 2rem;

    --popup-modal-header-font-weight: var(--font-weight-bold);
    --popup-modal-header-font-size: var(--font-size-primary);
    --popup-modal-header-color: var(--color-dark-primary);

    --popup-modal-content-font-weight: var(--font-weight-normal);
    --popup-modal-content-font-size: var(--font-size-primary);
    --popup-modal-content-color: var(--color-dark-primary);

    --popup-closeBtn-width: 23px;
    --popup-closeBtn-height: 23px;
    --popup-closeBtn-top: 25px;
    --popup-closeBtn-right: 25px;

    

    /* Popup -> */

    /* <- Popup opener icon*/
    --popupOpenerIcon-width: 30px;
    --popupOpenerIcon-height: 30px;
    --popupOpenerIcon-background: rgb(219, 219, 219);
    --popupOpenerIcon-background-hover: grey;
    /* Popup opener icon -> */

}

#allrecords strong {
    font-weight: var(--font-weight-bold);
}

#allrecords em {
    font-style: italic;
}

popup-unit {
    position: relative;
    --z-index-base: 1000;
    z-index: var(--z-index-base);
}

#allrecords .placeholder {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    background-color: transparent;
    z-index: calc(var(--z-index-base) + 5);
}

#allrecords .placeholder.longread {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

#allrecords .placeholder longread-unit {
    --longread-justify-items: start;
    --longread-align-items: start;
    --longread-justify-content: start;
}

#allrecords .placeholder ytvideo-unit {
    display: flex;
    justify-content: center;
}

#allrecords .placeholder.test.likert {
    --questionsContainer-row-gap: 0;
    
    --questionContainerColumns-color-odd-a: 0;
    --questionContainerColumns-color-even-a: 0;

    --questionContainer-padding: 0 0 2rem 0;

    --questionText-font-weight: var(--font-weight-normal);
    --answerContainer-label-font-weight: var(--font-weight-bold);
}

#allrecords .placeholder.test.shortFillIn {
    --fillin-padding: 7px;
    --fillin-padding-focus: var(--fillin-padding);
    --fillin-font-size: 14px;
    --subHeader-padding: 5px 0 0 0;
    --question-padding: 5px 0 0 0;
    --fillin-text-align: center;
    --headerCol: 30px;
    --inputCol: 70px;
    --questionCol: 1fr;
    --questionContainer-column-gap: 1rem;
    --fillin-line-height: 1;
    --fillin-bg-color: var(--color-light-primary);
    --fillin-border-color-normal: #CBDFE6 !important;
    --fillin-border-color-focus: #f4c461;
    --fillin-border-width-normal: 2px;
    --fillin-border-width-focus: 2px;
}

#allrecords .placeholder.longread.up {
    --longread-min-height: 0px;
    position: relative;
    height: 0px !important;
    overflow: visible;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    z-index: calc(var(--z-index-base) + 100);
    --button-transform-normal: translateY(-90px);
    --button-transform-hover: translateY(-90px);
    --longread-grid-template-rows: 0px;
}

#allrecords .off {
    display: none;
}

@media screen and (max-width: 640px) {
    #allrecords .placeholder.test.likert {
        --questionsContainer-row-gap: 3rem;
        --questionContainer-row-gap: 0.5rem;
    }
}